body{
    background-color: black;
    margin: 0;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    width: 30vw;
    padding-left: 36vw;
}

.result-div{
    padding-right: 37vw;
    height: min(15vh, 80px);
}

.button-general{
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    font-size: 2.15vw;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    border: none;
    color: white;
    font-weight: 600;
}

.number,
.action{
    background-color: #333333;
}

.calc{
    background-color: #F4A012;
}

.result{
    color: white;
    font-weight: 600;
    text-align: right;
    font-size: min(7.5vh, 40px);
    margin: 0;
    height: min(7.5vh, 40px);
    padding-top: min(3.75vh, 20px);
}